<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni0001</key>
    <string>uni0001.glif</string>
    <key>uni0002</key>
    <string>uni0002.glif</string>
    <key>uni0003</key>
    <string>uni0003.glif</string>
    <key>uni0004</key>
    <string>uni0004.glif</string>
    <key>uni0005</key>
    <string>uni0005.glif</string>
    <key>uni0006</key>
    <string>uni0006.glif</string>
    <key>uni0007</key>
    <string>uni0007.glif</string>
    <key>uni0008</key>
    <string>uni0008.glif</string>
    <key>uni0009</key>
    <string>uni0009.glif</string>
    <key>uni000A</key>
    <string>uni000A_.glif</string>
    <key>uni000B</key>
    <string>uni000B_.glif</string>
    <key>uni000C</key>
    <string>uni000C_.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni000E</key>
    <string>uni000E_.glif</string>
    <key>uni000F</key>
    <string>uni000F_.glif</string>
    <key>uni0010</key>
    <string>uni0010.glif</string>
    <key>uni0011</key>
    <string>uni0011.glif</string>
    <key>uni0012</key>
    <string>uni0012.glif</string>
    <key>uni0013</key>
    <string>uni0013.glif</string>
    <key>uni0014</key>
    <string>uni0014.glif</string>
    <key>uni0015</key>
    <string>uni0015.glif</string>
    <key>uni0016</key>
    <string>uni0016.glif</string>
    <key>uni0017</key>
    <string>uni0017.glif</string>
    <key>uni0018</key>
    <string>uni0018.glif</string>
    <key>uni0019</key>
    <string>uni0019.glif</string>
    <key>uni001A</key>
    <string>uni001A_.glif</string>
    <key>uni001B</key>
    <string>uni001B_.glif</string>
    <key>uni001C</key>
    <string>uni001C_.glif</string>
    <key>uni001D</key>
    <string>uni001D_.glif</string>
    <key>uni001E</key>
    <string>uni001E_.glif</string>
    <key>uni001F</key>
    <string>uni001F_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni202F</key>
    <string>uni202F_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniEA57</key>
    <string>uniE_A_57.glif</string>
    <key>uniEA80</key>
    <string>uniE_A_80.glif</string>
    <key>uniEA99</key>
    <string>uniE_A_99.glif</string>
    <key>uniEA9C</key>
    <string>uniE_A_9C_.glif</string>
    <key>uniEA9F</key>
    <string>uniE_A_9F_.glif</string>
    <key>uniEAC5</key>
    <string>uniE_A_C_5.glif</string>
    <key>uniEAFA</key>
    <string>uniE_A_F_A_.glif</string>
    <key>uniEAFD</key>
    <string>uniE_A_F_D_.glif</string>
    <key>uniEB01</key>
    <string>uniE_B_01.glif</string>
    <key>uniEB0D</key>
    <string>uniE_B_0D_.glif</string>
    <key>uniEB52</key>
    <string>uniE_B_52.glif</string>
    <key>uniEB53</key>
    <string>uniE_B_53.glif</string>
    <key>uniEB54</key>
    <string>uniE_B_54.glif</string>
    <key>uniEB55</key>
    <string>uniE_B_55.glif</string>
    <key>uniEB56</key>
    <string>uniE_B_56.glif</string>
    <key>uniEB57</key>
    <string>uniE_B_57.glif</string>
    <key>uniEB5F</key>
    <string>uniE_B_5F_.glif</string>
    <key>uniEC22</key>
    <string>uniE_C_22.glif</string>
    <key>uniEE50</key>
    <string>uniE_E_50.glif</string>
    <key>uniEE51</key>
    <string>uniE_E_51.glif</string>
    <key>uniEE52</key>
    <string>uniE_E_52.glif</string>
    <key>uniEE53</key>
    <string>uniE_E_53.glif</string>
    <key>uniEE54</key>
    <string>uniE_E_54.glif</string>
    <key>uniEE55</key>
    <string>uniE_E_55.glif</string>
    <key>uniEE56</key>
    <string>uniE_E_56.glif</string>
    <key>uniEE57</key>
    <string>uniE_E_57.glif</string>
    <key>uniEE58</key>
    <string>uniE_E_58.glif</string>
    <key>uniEE59</key>
    <string>uniE_E_59.glif</string>
    <key>uniEE5A</key>
    <string>uniE_E_5A_.glif</string>
    <key>uniEE5B</key>
    <string>uniE_E_5B_.glif</string>
    <key>uniEE5C</key>
    <string>uniE_E_5C_.glif</string>
    <key>uniEE5D</key>
    <string>uniE_E_5D_.glif</string>
    <key>uniEE5E</key>
    <string>uniE_E_5E_.glif</string>
    <key>uniEE70</key>
    <string>uniE_E_70.glif</string>
    <key>uniEE71</key>
    <string>uniE_E_71.glif</string>
    <key>uniEE72</key>
    <string>uniE_E_72.glif</string>
    <key>uniEE73</key>
    <string>uniE_E_73.glif</string>
    <key>uniEE74</key>
    <string>uniE_E_74.glif</string>
    <key>uniEE75</key>
    <string>uniE_E_75.glif</string>
    <key>uniEE76</key>
    <string>uniE_E_76.glif</string>
    <key>uniEE77</key>
    <string>uniE_E_77.glif</string>
    <key>uniEE78</key>
    <string>uniE_E_78.glif</string>
    <key>uniEE79</key>
    <string>uniE_E_79.glif</string>
    <key>uniEE7A</key>
    <string>uniE_E_7A_.glif</string>
    <key>uniEE7B</key>
    <string>uniE_E_7B_.glif</string>
    <key>uniEE7C</key>
    <string>uniE_E_7C_.glif</string>
    <key>uniEE7D</key>
    <string>uniE_E_7D_.glif</string>
    <key>uniEE7E</key>
    <string>uniE_E_7E_.glif</string>
    <key>uniEE7F</key>
    <string>uniE_E_7F_.glif</string>
    <key>uniEE80</key>
    <string>uniE_E_80.glif</string>
    <key>uniEE81</key>
    <string>uniE_E_81.glif</string>
    <key>uniEE82</key>
    <string>uniE_E_82.glif</string>
    <key>uniEE83</key>
    <string>uniE_E_83.glif</string>
    <key>uniEE84</key>
    <string>uniE_E_84.glif</string>
    <key>uniEE85</key>
    <string>uniE_E_85.glif</string>
    <key>uniEE86</key>
    <string>uniE_E_86.glif</string>
    <key>uniEE87</key>
    <string>uniE_E_87.glif</string>
    <key>uniEE88</key>
    <string>uniE_E_88.glif</string>
    <key>uniEE89</key>
    <string>uniE_E_89.glif</string>
    <key>uniEE8A</key>
    <string>uniE_E_8A_.glif</string>
    <key>uniEE8B</key>
    <string>uniE_E_8B_.glif</string>
    <key>uniEE8C</key>
    <string>uniE_E_8C_.glif</string>
    <key>uniEE8D</key>
    <string>uniE_E_8D_.glif</string>
    <key>uniEE8E</key>
    <string>uniE_E_8E_.glif</string>
    <key>uniEE8F</key>
    <string>uniE_E_8F_.glif</string>
    <key>uniEE90</key>
    <string>uniE_E_90.glif</string>
    <key>uniEE91</key>
    <string>uniE_E_91.glif</string>
    <key>uniEE92</key>
    <string>uniE_E_92.glif</string>
    <key>uniEE93</key>
    <string>uniE_E_93.glif</string>
    <key>uniEE94</key>
    <string>uniE_E_94.glif</string>
    <key>uniEE95</key>
    <string>uniE_E_95.glif</string>
    <key>uniEE96</key>
    <string>uniE_E_96.glif</string>
    <key>uniEE97</key>
    <string>uniE_E_97.glif</string>
    <key>uniEE98</key>
    <string>uniE_E_98.glif</string>
    <key>uniEE99</key>
    <string>uniE_E_99.glif</string>
    <key>uniEE9A</key>
    <string>uniE_E_9A_.glif</string>
    <key>uniEE9B</key>
    <string>uniE_E_9B_.glif</string>
    <key>uniEE9C</key>
    <string>uniE_E_9C_.glif</string>
    <key>uniEE9D</key>
    <string>uniE_E_9D_.glif</string>
    <key>uniEE9E</key>
    <string>uniE_E_9E_.glif</string>
    <key>uniEE9F</key>
    <string>uniE_E_9F_.glif</string>
    <key>uniEEA0</key>
    <string>uniE_E_A_0.glif</string>
    <key>uniEEA1</key>
    <string>uniE_E_A_1.glif</string>
    <key>uniEEA2</key>
    <string>uniE_E_A_2.glif</string>
    <key>uniEEA3</key>
    <string>uniE_E_A_3.glif</string>
    <key>uniEEA4</key>
    <string>uniE_E_A_4.glif</string>
    <key>uniEEA5</key>
    <string>uniE_E_A_5.glif</string>
    <key>uniEEA6</key>
    <string>uniE_E_A_6.glif</string>
    <key>uniEEA7</key>
    <string>uniE_E_A_7.glif</string>
    <key>uniEEA8</key>
    <string>uniE_E_A_8.glif</string>
    <key>uniEEAA</key>
    <string>uniE_E_A_A_.glif</string>
    <key>uniEEAB</key>
    <string>uniE_E_A_B_.glif</string>
    <key>uniEEAC</key>
    <string>uniE_E_A_C_.glif</string>
    <key>uniEEAD</key>
    <string>uniE_E_A_D_.glif</string>
    <key>uniEEAE</key>
    <string>uniE_E_A_E_.glif</string>
    <key>uniEEAF</key>
    <string>uniE_E_A_F_.glif</string>
    <key>uniEEB0</key>
    <string>uniE_E_B_0.glif</string>
    <key>uniEEB1</key>
    <string>uniE_E_B_1.glif</string>
    <key>uniEEB2</key>
    <string>uniE_E_B_2.glif</string>
    <key>uniEEB3</key>
    <string>uniE_E_B_3.glif</string>
    <key>uniEEB4</key>
    <string>uniE_E_B_4.glif</string>
    <key>uniEEB5</key>
    <string>uniE_E_B_5.glif</string>
    <key>uniEEB6</key>
    <string>uniE_E_B_6.glif</string>
    <key>uniEEB7</key>
    <string>uniE_E_B_7.glif</string>
    <key>uniEEB8</key>
    <string>uniE_E_B_8.glif</string>
    <key>uniEEB9</key>
    <string>uniE_E_B_9.glif</string>
    <key>uniEEBA</key>
    <string>uniE_E_B_A_.glif</string>
    <key>uniEEBB</key>
    <string>uniE_E_B_B_.glif</string>
    <key>uniEEBC</key>
    <string>uniE_E_B_C_.glif</string>
    <key>uniEEBD</key>
    <string>uniE_E_B_D_.glif</string>
    <key>uniEEBE</key>
    <string>uniE_E_B_E_.glif</string>
    <key>uniEEBF</key>
    <string>uniE_E_B_F_.glif</string>
    <key>u1CF30</key>
    <string>u1C_F_30.glif</string>
    <key>u1CF31</key>
    <string>u1C_F_31.glif</string>
    <key>u1CF32</key>
    <string>u1C_F_32.glif</string>
    <key>u1CF33</key>
    <string>u1C_F_33.glif</string>
    <key>u1CF34</key>
    <string>u1C_F_34.glif</string>
    <key>u1CF35</key>
    <string>u1C_F_35.glif</string>
    <key>u1CF36</key>
    <string>u1C_F_36.glif</string>
    <key>u1CF37</key>
    <string>u1C_F_37.glif</string>
    <key>u1CF38</key>
    <string>u1C_F_38.glif</string>
    <key>u1CF39</key>
    <string>u1C_F_39.glif</string>
    <key>u1CF3A</key>
    <string>u1C_F_3A_.glif</string>
    <key>u1CF3B</key>
    <string>u1C_F_3B_.glif</string>
    <key>u1CF3C</key>
    <string>u1C_F_3C_.glif</string>
    <key>u1CF3D</key>
    <string>u1C_F_3D_.glif</string>
    <key>u1CF3E</key>
    <string>u1C_F_3E_.glif</string>
    <key>u1CF3F</key>
    <string>u1C_F_3F_.glif</string>
    <key>u1CF40</key>
    <string>u1C_F_40.glif</string>
    <key>u1CF41</key>
    <string>u1C_F_41.glif</string>
    <key>u1CF42</key>
    <string>u1C_F_42.glif</string>
    <key>u1CF43</key>
    <string>u1C_F_43.glif</string>
    <key>u1CF44</key>
    <string>u1C_F_44.glif</string>
    <key>u1CF45</key>
    <string>u1C_F_45.glif</string>
    <key>u1CF46</key>
    <string>u1C_F_46.glif</string>
    <key>u1CF50</key>
    <string>u1C_F_50.glif</string>
    <key>u1CF51</key>
    <string>u1C_F_51.glif</string>
    <key>u1CF52</key>
    <string>u1C_F_52.glif</string>
    <key>u1CF53</key>
    <string>u1C_F_53.glif</string>
    <key>u1CF54</key>
    <string>u1C_F_54.glif</string>
    <key>u1CF55</key>
    <string>u1C_F_55.glif</string>
    <key>u1CF56</key>
    <string>u1C_F_56.glif</string>
    <key>u1CF57</key>
    <string>u1C_F_57.glif</string>
    <key>u1CF58</key>
    <string>u1C_F_58.glif</string>
    <key>u1CF59</key>
    <string>u1C_F_59.glif</string>
    <key>u1CF5A</key>
    <string>u1C_F_5A_.glif</string>
    <key>u1CF5B</key>
    <string>u1C_F_5B_.glif</string>
    <key>u1CF5C</key>
    <string>u1C_F_5C_.glif</string>
    <key>u1CF5D</key>
    <string>u1C_F_5D_.glif</string>
    <key>u1CF5E</key>
    <string>u1C_F_5E_.glif</string>
    <key>u1CF5F</key>
    <string>u1C_F_5F_.glif</string>
    <key>u1CF60</key>
    <string>u1C_F_60.glif</string>
    <key>u1CF61</key>
    <string>u1C_F_61.glif</string>
    <key>u1CF62</key>
    <string>u1C_F_62.glif</string>
    <key>u1CF63</key>
    <string>u1C_F_63.glif</string>
    <key>u1CF64</key>
    <string>u1C_F_64.glif</string>
    <key>u1CF65</key>
    <string>u1C_F_65.glif</string>
    <key>u1CF66</key>
    <string>u1C_F_66.glif</string>
    <key>u1CF67</key>
    <string>u1C_F_67.glif</string>
    <key>u1CF68</key>
    <string>u1C_F_68.glif</string>
    <key>u1CF69</key>
    <string>u1C_F_69.glif</string>
    <key>u1CF6A</key>
    <string>u1C_F_6A_.glif</string>
    <key>u1CF6B</key>
    <string>u1C_F_6B_.glif</string>
    <key>u1CF6C</key>
    <string>u1C_F_6C_.glif</string>
    <key>u1CF6D</key>
    <string>u1C_F_6D_.glif</string>
    <key>u1CF6E</key>
    <string>u1C_F_6E_.glif</string>
    <key>u1CF6F</key>
    <string>u1C_F_6F_.glif</string>
    <key>u1CF70</key>
    <string>u1C_F_70.glif</string>
    <key>u1CF71</key>
    <string>u1C_F_71.glif</string>
    <key>u1CF72</key>
    <string>u1C_F_72.glif</string>
    <key>u1CF73</key>
    <string>u1C_F_73.glif</string>
    <key>u1CF74</key>
    <string>u1C_F_74.glif</string>
    <key>u1CF75</key>
    <string>u1C_F_75.glif</string>
    <key>u1CF76</key>
    <string>u1C_F_76.glif</string>
    <key>u1CF77</key>
    <string>u1C_F_77.glif</string>
    <key>u1CF78</key>
    <string>u1C_F_78.glif</string>
    <key>u1CF79</key>
    <string>u1C_F_79.glif</string>
    <key>u1CF7A</key>
    <string>u1C_F_7A_.glif</string>
    <key>u1CF7B</key>
    <string>u1C_F_7B_.glif</string>
    <key>u1CF7C</key>
    <string>u1C_F_7C_.glif</string>
    <key>u1CF7D</key>
    <string>u1C_F_7D_.glif</string>
    <key>u1CF7E</key>
    <string>u1C_F_7E_.glif</string>
    <key>u1CF7F</key>
    <string>u1C_F_7F_.glif</string>
    <key>u1CF80</key>
    <string>u1C_F_80.glif</string>
    <key>u1CF81</key>
    <string>u1C_F_81.glif</string>
    <key>u1CF82</key>
    <string>u1C_F_82.glif</string>
    <key>u1CF83</key>
    <string>u1C_F_83.glif</string>
    <key>u1CF84</key>
    <string>u1C_F_84.glif</string>
    <key>u1CF85</key>
    <string>u1C_F_85.glif</string>
    <key>u1CF86</key>
    <string>u1C_F_86.glif</string>
    <key>u1CF87</key>
    <string>u1C_F_87.glif</string>
    <key>u1CF88</key>
    <string>u1C_F_88.glif</string>
    <key>u1CF89</key>
    <string>u1C_F_89.glif</string>
    <key>u1CF8A</key>
    <string>u1C_F_8A_.glif</string>
    <key>u1CF8B</key>
    <string>u1C_F_8B_.glif</string>
    <key>u1CF8C</key>
    <string>u1C_F_8C_.glif</string>
    <key>u1CF8D</key>
    <string>u1C_F_8D_.glif</string>
    <key>u1CF8E</key>
    <string>u1C_F_8E_.glif</string>
    <key>u1CF8F</key>
    <string>u1C_F_8F_.glif</string>
    <key>u1CF90</key>
    <string>u1C_F_90.glif</string>
    <key>u1CF91</key>
    <string>u1C_F_91.glif</string>
    <key>u1CF92</key>
    <string>u1C_F_92.glif</string>
    <key>u1CF93</key>
    <string>u1C_F_93.glif</string>
    <key>u1CF94</key>
    <string>u1C_F_94.glif</string>
    <key>u1CF95</key>
    <string>u1C_F_95.glif</string>
    <key>u1CF96</key>
    <string>u1C_F_96.glif</string>
    <key>u1CF97</key>
    <string>u1C_F_97.glif</string>
    <key>u1CF98</key>
    <string>u1C_F_98.glif</string>
    <key>u1CF99</key>
    <string>u1C_F_99.glif</string>
    <key>u1CF9A</key>
    <string>u1C_F_9A_.glif</string>
    <key>u1CF9B</key>
    <string>u1C_F_9B_.glif</string>
    <key>u1CF9C</key>
    <string>u1C_F_9C_.glif</string>
    <key>u1CF9D</key>
    <string>u1C_F_9D_.glif</string>
    <key>u1CF9E</key>
    <string>u1C_F_9E_.glif</string>
    <key>u1CF9F</key>
    <string>u1C_F_9F_.glif</string>
    <key>u1CFA0</key>
    <string>u1C_F_A_0.glif</string>
    <key>u1CFA1</key>
    <string>u1C_F_A_1.glif</string>
    <key>u1CFA2</key>
    <string>u1C_F_A_2.glif</string>
    <key>u1CFA3</key>
    <string>u1C_F_A_3.glif</string>
    <key>u1CFA4</key>
    <string>u1C_F_A_4.glif</string>
    <key>u1CFA5</key>
    <string>u1C_F_A_5.glif</string>
    <key>u1CFA6</key>
    <string>u1C_F_A_6.glif</string>
    <key>u1CFA7</key>
    <string>u1C_F_A_7.glif</string>
    <key>u1CFA8</key>
    <string>u1C_F_A_8.glif</string>
    <key>u1CFA9</key>
    <string>u1C_F_A_9.glif</string>
    <key>u1CFAA</key>
    <string>u1C_F_A_A_.glif</string>
    <key>u1CFAB</key>
    <string>u1C_F_A_B_.glif</string>
    <key>u1CFAC</key>
    <string>u1C_F_A_C_.glif</string>
    <key>u1CFAD</key>
    <string>u1C_F_A_D_.glif</string>
    <key>u1CFAE</key>
    <string>u1C_F_A_E_.glif</string>
    <key>u1CFAF</key>
    <string>u1C_F_A_F_.glif</string>
    <key>u1CFB0</key>
    <string>u1C_F_B_0.glif</string>
    <key>u1CFB1</key>
    <string>u1C_F_B_1.glif</string>
    <key>u1CFB2</key>
    <string>u1C_F_B_2.glif</string>
    <key>u1CFB3</key>
    <string>u1C_F_B_3.glif</string>
    <key>u1CFB4</key>
    <string>u1C_F_B_4.glif</string>
    <key>u1CFB5</key>
    <string>u1C_F_B_5.glif</string>
    <key>u1CFB6</key>
    <string>u1C_F_B_6.glif</string>
    <key>u1CFB7</key>
    <string>u1C_F_B_7.glif</string>
    <key>u1CFB8</key>
    <string>u1C_F_B_8.glif</string>
    <key>u1CFB9</key>
    <string>u1C_F_B_9.glif</string>
    <key>u1CFBA</key>
    <string>u1C_F_B_A_.glif</string>
    <key>u1CFBB</key>
    <string>u1C_F_B_B_.glif</string>
    <key>u1CFBC</key>
    <string>u1C_F_B_C_.glif</string>
    <key>u1CFBD</key>
    <string>u1C_F_B_D_.glif</string>
    <key>u1CFBE</key>
    <string>u1C_F_B_E_.glif</string>
    <key>u1CFBF</key>
    <string>u1C_F_B_F_.glif</string>
    <key>u1CF861CFBF</key>
    <string>u1C_F_861C_F_B_F_.glif</string>
    <key>u1CFC1</key>
    <string>u1C_F_C_1.glif</string>
    <key>u1CFC2</key>
    <string>u1C_F_C_2.glif</string>
    <key>u1CFC3</key>
    <string>u1C_F_C_3.glif</string>
    <key>u1CFC0</key>
    <string>u1C_F_C_0.glif</string>
    <key>uni04A4</key>
    <string>uni04A_4.glif</string>
    <key>uni04A5</key>
    <string>uni04A_5.glif</string>
    <key>uni0410</key>
    <string>uni0410.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni0412</key>
    <string>uni0412.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0415</key>
    <string>uni0415.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni0419</key>
    <string>uni0419.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni041C</key>
    <string>uni041C_.glif</string>
    <key>uni041D</key>
    <string>uni041D_.glif</string>
    <key>uni041E</key>
    <string>uni041E_.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0420</key>
    <string>uni0420.glif</string>
    <key>uni0421</key>
    <string>uni0421.glif</string>
    <key>uni0422</key>
    <string>uni0422.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0425</key>
    <string>uni0425.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni0429</key>
    <string>uni0429.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni0430</key>
    <string>uni0430.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0433</key>
    <string>uni0433.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0435</key>
    <string>uni0435.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni0439</key>
    <string>uni0439.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni043D</key>
    <string>uni043D_.glif</string>
    <key>uni043E</key>
    <string>uni043E_.glif</string>
    <key>uni043F</key>
    <string>uni043F_.glif</string>
    <key>uni0440</key>
    <string>uni0440.glif</string>
    <key>uni0441</key>
    <string>uni0441.glif</string>
    <key>uni0442</key>
    <string>uni0442.glif</string>
    <key>uni0443</key>
    <string>uni0443.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0445</key>
    <string>uni0445.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0447</key>
    <string>uni0447.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni0449</key>
    <string>uni0449.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0406</key>
    <string>uni0406.glif</string>
    <key>uni0456</key>
    <string>uni0456.glif</string>
    <key>uni0407</key>
    <string>uni0407.glif</string>
    <key>uni0457</key>
    <string>uni0457.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni044E</key>
    <string>uni044E_.glif</string>
    <key>uni0464</key>
    <string>uni0464.glif</string>
    <key>uni0465</key>
    <string>uni0465.glif</string>
    <key>uni0468</key>
    <string>uni0468.glif</string>
    <key>uni0469</key>
    <string>uni0469.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni046B</key>
    <string>uni046B_.glif</string>
    <key>uni046C</key>
    <string>uni046C_.glif</string>
    <key>uni046D</key>
    <string>uni046D_.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0467</key>
    <string>uni0467.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0471</key>
    <string>uni0471.glif</string>
    <key>uni0405</key>
    <string>uni0405.glif</string>
    <key>uni0455</key>
    <string>uni0455.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046F</key>
    <string>uni046F_.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uni047B</key>
    <string>uni047B_.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni0461</key>
    <string>uni0461.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uni047F</key>
    <string>uni047F_.glif</string>
    <key>uni0481</key>
    <string>uni0481.glif</string>
    <key>uni0454</key>
    <string>uni0454.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047D</key>
    <string>uni047D_.glif</string>
    <key>uni0482</key>
    <string>uni0482.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0477</key>
    <string>uni0477.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0403</key>
    <string>uni0403.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0409</key>
    <string>uni0409.glif</string>
    <key>uni040A</key>
    <string>uni040A_.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni040C</key>
    <string>uni040C_.glif</string>
    <key>uni040E</key>
    <string>uni040E_.glif</string>
    <key>uni040F</key>
    <string>uni040F_.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0451</key>
    <string>uni0451.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni0453</key>
    <string>uni0453.glif</string>
    <key>uni0459</key>
    <string>uni0459.glif</string>
    <key>uni045A</key>
    <string>uni045A_.glif</string>
    <key>uni045B</key>
    <string>uni045B_.glif</string>
    <key>uni045C</key>
    <string>uni045C_.glif</string>
    <key>uni045E</key>
    <string>uni045E_.glif</string>
    <key>uni045F</key>
    <string>uni045F_.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni0491</key>
    <string>uni0491.glif</string>
    <key>uni2116</key>
    <string>uni2116.glif</string>
    <key>uniA65E</key>
    <string>uniA_65E_.glif</string>
    <key>uniA65F</key>
    <string>uniA_65F_.glif</string>
    <key>uni1C82</key>
    <string>uni1C_82.glif</string>
    <key>uniA642</key>
    <string>uniA_642.glif</string>
    <key>uniA643</key>
    <string>uniA_643.glif</string>
    <key>uniA644</key>
    <string>uniA_644.glif</string>
    <key>uniA645</key>
    <string>uniA_645.glif</string>
    <key>uniA64E</key>
    <string>uniA_64E_.glif</string>
    <key>uniA64F</key>
    <string>uniA_64F_.glif</string>
    <key>uniA650</key>
    <string>uniA_650.glif</string>
    <key>uniA651</key>
    <string>uniA_651.glif</string>
    <key>uniA652</key>
    <string>uniA_652.glif</string>
    <key>uniA653</key>
    <string>uniA_653.glif</string>
    <key>uniA654</key>
    <string>uniA_654.glif</string>
    <key>uniA655</key>
    <string>uniA_655.glif</string>
    <key>uniA658</key>
    <string>uniA_658.glif</string>
    <key>uniA659</key>
    <string>uniA_659.glif</string>
    <key>uniA65C</key>
    <string>uniA_65C_.glif</string>
    <key>uniA65D</key>
    <string>uniA_65D_.glif</string>
    <key>uniA656</key>
    <string>uniA_656.glif</string>
    <key>uniA657</key>
    <string>uniA_657.glif</string>
    <key>uni1C88</key>
    <string>uni1C_88.glif</string>
    <key>uni042B</key>
    <string>uni042B_.glif</string>
    <key>uni044B</key>
    <string>uni044B_.glif</string>
    <key>uni0479</key>
    <string>uni0479.glif</string>
    <key>uniA646</key>
    <string>uniA_646.glif</string>
    <key>uniA647</key>
    <string>uniA_647.glif</string>
    <key>uniA64A</key>
    <string>uniA_64A_.glif</string>
    <key>uniA64B</key>
    <string>uniA_64B_.glif</string>
    <key>uniA640</key>
    <string>uniA_640.glif</string>
    <key>uniA641</key>
    <string>uniA_641.glif</string>
    <key>uni10FB</key>
    <string>uni10F_B_.glif</string>
    <key>uni203B</key>
    <string>uni203B_.glif</string>
    <key>uni2056</key>
    <string>uni2056.glif</string>
    <key>uni2058</key>
    <string>uni2058.glif</string>
    <key>uni2059</key>
    <string>uni2059.glif</string>
    <key>uni205D</key>
    <string>uni205D_.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>element</key>
    <string>element.glif</string>
    <key>suchthat</key>
    <string>suchthat.glif</string>
    <key>uni2213</key>
    <string>uni2213.glif</string>
    <key>uni2214</key>
    <string>uni2214.glif</string>
    <key>uni223B</key>
    <string>uni223B_.glif</string>
    <key>similar</key>
    <string>similar.glif</string>
    <key>uni223D</key>
    <string>uni223D_.glif</string>
    <key>propersubset</key>
    <string>propersubset.glif</string>
    <key>propersuperset</key>
    <string>propersuperset.glif</string>
    <key>uni2626</key>
    <string>uni2626.glif</string>
    <key>uni2627</key>
    <string>uni2627.glif</string>
    <key>uni2795</key>
    <string>uni2795.glif</string>
    <key>uni2E2B</key>
    <string>uni2E_2B_.glif</string>
    <key>uni2E2C</key>
    <string>uni2E_2C_.glif</string>
    <key>uni2E2D</key>
    <string>uni2E_2D_.glif</string>
    <key>uni2E2A</key>
    <string>uni2E_2A_.glif</string>
    <key>uni2E43</key>
    <string>uni2E_43.glif</string>
    <key>uni2E0F</key>
    <string>uni2E_0F_.glif</string>
    <key>uni2E49</key>
    <string>uni2E_49.glif</string>
    <key>uni2DE0</key>
    <string>uni2D_E_0.glif</string>
    <key>uni2DE1</key>
    <string>uni2D_E_1.glif</string>
    <key>uni2DE2</key>
    <string>uni2D_E_2.glif</string>
    <key>uni2DF1</key>
    <string>uni2D_F_1.glif</string>
    <key>uni2DE3</key>
    <string>uni2D_E_3.glif</string>
    <key>uni2DE4</key>
    <string>uni2D_E_4.glif</string>
    <key>uni2DE5</key>
    <string>uni2D_E_5.glif</string>
    <key>uni2DE6</key>
    <string>uni2D_E_6.glif</string>
    <key>uni2DE7</key>
    <string>uni2D_E_7.glif</string>
    <key>uni2DE8</key>
    <string>uni2D_E_8.glif</string>
    <key>uni2DE9</key>
    <string>uni2D_E_9.glif</string>
    <key>uni2DEA</key>
    <string>uni2D_E_A_.glif</string>
    <key>uni2DEB</key>
    <string>uni2D_E_B_.glif</string>
    <key>uni2DEC</key>
    <string>uni2D_E_C_.glif</string>
    <key>uni2DED</key>
    <string>uni2D_E_D_.glif</string>
    <key>uni2DEE</key>
    <string>uni2D_E_E_.glif</string>
    <key>uni2DEF</key>
    <string>uni2D_E_F_.glif</string>
    <key>uni2DF0</key>
    <string>uni2D_F_0.glif</string>
    <key>uni2DF2</key>
    <string>uni2D_F_2.glif</string>
    <key>uni2DF3</key>
    <string>uni2D_F_3.glif</string>
    <key>uni2DFA</key>
    <string>uni2D_F_A_.glif</string>
    <key>uni2DF4</key>
    <string>uni2D_F_4.glif</string>
    <key>uni2DFD</key>
    <string>uni2D_F_D_.glif</string>
    <key>uni2DF6</key>
    <string>uni2D_F_6.glif</string>
    <key>uni2DF7</key>
    <string>uni2D_F_7.glif</string>
    <key>uni2DFB</key>
    <string>uni2D_F_B_.glif</string>
    <key>uniA67D</key>
    <string>uniA_67D_.glif</string>
    <key>uniA67F</key>
    <string>uniA_67F_.glif</string>
    <key>uni0479.salt</key>
    <string>uni0479.salt.glif</string>
    <key>uniA650.salt</key>
    <string>uniA_650.salt.glif</string>
    <key>uniA651.salt</key>
    <string>uniA_651.salt.glif</string>
    <key>uni042B.salt</key>
    <string>uni042B_.salt.glif</string>
    <key>uni044B.salt</key>
    <string>uni044B_.salt.glif</string>
    <key>uniA658.salt</key>
    <string>uniA_658.salt.glif</string>
    <key>uniA659.salt</key>
    <string>uniA_659.salt.glif</string>
    <key>uniA673</key>
    <string>uniA_673.glif</string>
    <key>uni041E.salt</key>
    <string>uni041E_.salt.glif</string>
    <key>uniE925</key>
    <string>uniE_925.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>uni0485</key>
    <string>uni0485.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>uni0487.salt</key>
    <string>uni0487.salt.glif</string>
    <key>uni033E</key>
    <string>uni033E_.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>uni0361</key>
    <string>uni0361.glif</string>
    <key>uni0360</key>
    <string>uni0360.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>uniE001</key>
    <string>uniE_001.glif</string>
    <key>uniE003</key>
    <string>uniE_003.glif</string>
    <key>uni0487</key>
    <string>uni0487.glif</string>
    <key>uni0483.salt1</key>
    <string>uni0483.salt1.glif</string>
    <key>uni0483.salt2</key>
    <string>uni0483.salt2.glif</string>
    <key>uni0483.salt3</key>
    <string>uni0483.salt3.glif</string>
    <key>uni2E2F</key>
    <string>uni2E_2F_.glif</string>
    <key>uF0149</key>
    <string>uF_0149.glif</string>
    <key>uF014E</key>
    <string>uF_014E_.glif</string>
    <key>uni261E</key>
    <string>uni261E_.glif</string>
    <key>uni2713</key>
    <string>uni2713.glif</string>
    <key>uniA648</key>
    <string>uniA_648.glif</string>
    <key>uniA649</key>
    <string>uniA_649.glif</string>
    <key>uniEA1B</key>
    <string>uniE_A_1B_.glif</string>
    <key>uni1C83</key>
    <string>uni1C_83.glif</string>
    <key>uniF680</key>
    <string>uniF_680.glif</string>
    <key>uniF681</key>
    <string>uniF_681.glif</string>
    <key>uniF682</key>
    <string>uniF_682.glif</string>
    <key>uniF683</key>
    <string>uniF_683.glif</string>
    <key>uniF684</key>
    <string>uniF_684.glif</string>
    <key>uniF685</key>
    <string>uniF_685.glif</string>
    <key>uniF686</key>
    <string>uniF_686.glif</string>
    <key>uniF687</key>
    <string>uniF_687.glif</string>
    <key>uniF688</key>
    <string>uniF_688.glif</string>
    <key>uni034F</key>
    <string>uni034F_.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uniA64C</key>
    <string>uniA_64C_.glif</string>
    <key>uniA64D</key>
    <string>uniA_64D_.glif</string>
    <key>uniA65A</key>
    <string>uniA_65A_.glif</string>
    <key>uniA65B</key>
    <string>uniA_65B_.glif</string>
    <key>uni045D</key>
    <string>uni045D_.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>uniA66F</key>
    <string>uniA_66F_.glif</string>
    <key>uniA67C</key>
    <string>uniA_67C_.glif</string>
    <key>uniA67E</key>
    <string>uniA_67E_.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uniF4E0</key>
    <string>uniF_4E_0.glif</string>
    <key>uniF4E1</key>
    <string>uniF_4E_1.glif</string>
    <key>uniF4E2</key>
    <string>uniF_4E_2.glif</string>
    <key>uniF4E3</key>
    <string>uniF_4E_3.glif</string>
    <key>uniF4E4</key>
    <string>uniF_4E_4.glif</string>
    <key>uniF4E5</key>
    <string>uniF_4E_5.glif</string>
    <key>uniF4E6</key>
    <string>uniF_4E_6.glif</string>
    <key>uniF4E7</key>
    <string>uniF_4E_7.glif</string>
    <key>uniF4E8</key>
    <string>uniF_4E_8.glif</string>
    <key>uniF4E9</key>
    <string>uniF_4E_9.glif</string>
    <key>uniF4EA</key>
    <string>uniF_4E_A_.glif</string>
    <key>uniF4EB</key>
    <string>uniF_4E_B_.glif</string>
    <key>uniF4EC</key>
    <string>uniF_4E_C_.glif</string>
    <key>uniF4ED</key>
    <string>uniF_4E_D_.glif</string>
    <key>uniF4EE</key>
    <string>uniF_4E_E_.glif</string>
    <key>uniF4EF</key>
    <string>uniF_4E_F_.glif</string>
    <key>uniF4F0</key>
    <string>uniF_4F_0.glif</string>
    <key>uniF4F1</key>
    <string>uniF_4F_1.glif</string>
    <key>uniF4F2</key>
    <string>uniF_4F_2.glif</string>
    <key>uniF4F3</key>
    <string>uniF_4F_3.glif</string>
    <key>uniF4F4</key>
    <string>uniF_4F_4.glif</string>
    <key>uniF4F6</key>
    <string>uniF_4F_6.glif</string>
    <key>uniF4F7</key>
    <string>uniF_4F_7.glif</string>
    <key>uniF4FD</key>
    <string>uniF_4F_D_.glif</string>
    <key>uniF4FB</key>
    <string>uniF_4F_B_.glif</string>
    <key>uniF4FA</key>
    <string>uniF_4F_A_.glif</string>
    <key>uni0480</key>
    <string>uni0480.glif</string>
  </dict>
</plist>
